.custom-card {
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .responsive-card {
      max-width: 100%;
      max-height: 100%;
      padding: 1rem;
    }
}

.custom-content p {
    margin: 10px 0;
    font-size: 1.2rem;
}
  

h2 {
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 1rem;
}

p {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 1rem;
}
  
strong {
    font-weight: bold; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: skyblue;
    max-width: 100%;
    height: 10vh;
}

.custom-username {
    flex: 3;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 1rem;
    background-color: skyblue;
}

/* Style for the vertical navbar */
.vertical-navbar {
    flex: 1;
    position: relative;
    padding: 20px;
    align-items: center;
    background-color: skyblue;
    justify-content: flex-end;
    display: flex;
}
  
/* Toggler button */
.navbar-toggler {
    background: black;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10px;
    justify-content: flex-end;
    color: white;
}

.custom-panelmenu {
    position: absolute;
    top: 100%; /* Positioned below the navbar-toggler */
    left: 0;
    right: 0;
    z-index: 1000; /* High z-index to appear above other content */
    background-color: white; /* Ensure it's distinguishable */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
/* Show the panel menu on larger screens */
@media (min-width: 768px) {
    p-panelMenu.custom-panelmenu {
        display: block;
    }
  
    .navbar-toggler {
        display: block; 
    }
}
  
/* Show the panel menu when toggled on small screens */
@media (max-width: 767px) {
    p-panelMenu.custom-panelmenu {
      display: block;
    }

    .navbar-toggler {
        display: block; 
    }
}
  

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}