.custom-card {
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .responsive-card {
      max-width: 100%;
      max-height: 100%;
      padding: 1rem;
    }
}

.custom-content p {
    margin: 10px 0;
    font-size: 1.2rem;
}
  

h2 {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 1rem;
}

p {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 1rem;
}
  
strong {
    font-weight: bold; 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}