/* Container for input and map layout */
.directions-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70vw;
    margin: auto;
}

/* Input field styling */
.input-field {
    height: 50px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Input field focus effect */
.input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-field::placeholder {
    color: #888;
    font-style: italic;
    font-size: 18px;
    padding-left: 10px;
  }

.p-button-raised {
    margin-top: 10px;
    height: 50px;
}

/* Map container styling */
.map {
    width: 70vw;
    height: 65vh;
    margin: 0px auto 5px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Add some spacing to suggestions list */
#suggestions-list {
    list-style: none;
    //padding: 10px;
    margin-top: 0%;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

