<h2 class="heading">Find Your Perfect Home!</h2>

<div>
  <p class="custom-paragraph">Welcome to Cherry Park Apartments in denver, CO, where we offer a variety of spacious and thoughtfully designed floor plans to suit your lifestyle.Whether you're looking for a cozy one-bedroom or a roomy two-bedroom apartment, you'll find the perfect layout that fits your needs. Each apartment features modern finishes, ample storage, and open-concept living spaces to create a comfortable and inviting home. Schedule your in-person tour, today!</p>
</div>

<div class="tile-container">
  <div class="tile" *ngFor="let plans of floorPlans">
      <div class="tile-header">{{ plans.name }}</div>
      <div class="tile-body">
          <p>&nbsp;{{ plans.plan }}&nbsp;&nbsp;{{ plans.bath }}</p>
          <p>Area: {{ plans.area }}</p>
          <p><img [src]="plans.imagePath" class="tile-img" alt="Plan Image"/></p>
          <p>Starting at : {{ plans['starting price'] }}</p>
          <p>Deposit: {{ plans.deposit }}</p>
      </div>
  </div>
</div>
