<h1 class="heading">Amenities</h1>
<p class="custom-heading-text">{{heading}}</p>
<div class="apartment-features">
    <img class="apartment-features-image-container" src="{{apartmentFeatureImagePath}}">
    <div><h2 class="apartment-features-text">Apartment Features</h2><p class="apartment-features-text-container">{{apartmentFeaturesText}}</p></div>
</div>
<div class="apartment-features-amenities-container">
    <div class="flex-container">
        <div class="list-item" *ngFor="let item of apartmentFeatures">
          {{ item }}
        </div>
    </div>
</div>
<div class="apartment-features">
    <img class="apartment-features-image-container" src="{{communityAmenitiesImagePath}}">
    <div><h2 class="apartment-features-text">Community Amenities</h2><p class="apartment-features-text-container">{{apartmentFeaturesText}}</p></div>
</div>
<div class="apartment-features-amenities-container">
    <div class="flex-container">
        <div class="list-item" *ngFor="let item of communityAmenities">
          {{ item }}
        </div>
    </div>
</div>
  
  
