.background_residents {
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 80vh; /* Full height of the viewport */
    margin : 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}
  
.login-page-container {
    max-width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 60%;
}
  
.login-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.login-card {
    flex : 1;
}
  
.p-field {
    margin-bottom: 15px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.error-message {
    color: red;
    font-size: 12px;
}
  
.login-btn, .signup-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
  
.separator {
    text-align: center;
    margin: 20px 0;
}
  
.separator span {
    background-color: white;
    padding: 0 10px;
}
  
.vertical-line {
    border-left: 2px solid #ccc;
    height: 100%;
}
  
.register-card {
    flex : 1;
}