.background_residents {
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 80vh; /* Full height of the viewport */
    margin : 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resident-page-container {
    max-width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 60%;
}
  
.login-registers-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}


.login-card-container {
    flex: 1;
    position: relative;
    //width: 350px;  
    margin: 0 auto;
}

.circle {
    position: absolute;
    top: -30px;  /* Move half of the circle above the card */
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
    width: 60px;
    height: 60px;
    background-color:  #87CEFA;  /* Customize circle color */
    border-radius: 50%;  /* Make the div a circle */
    z-index: 1;  /* Ensure the circle is above the card */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.login-card {
    padding-top: 40PX;
    position: relative;
}
  
.p-field {
    margin-bottom: 20px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.error-message {
    color: red;
    font-size: 12px;
}
  
.login-btn {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
  
.separator {
    text-align: center;
    margin: 20px 0;
    margin-top: 210px;
}
  
.separator span {
    background-color: white;
    padding: 0 10px;
    margin-top: 80px;
}
  
.vertical-line {
    border-left: 2px solid #ccc;
    height: 100%;
}
  
.register-card {
    padding-top: 40px;
    position: relative;
}

.register-card-container {
    flex: 1;
    position: relative;
    //width: 350px;  
    margin: 0 auto;
}