.header-container {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    height: 20vh;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* for a polished appearance */
}

.logo-container {
    margin-left: auto;
    margin-right: 40px;
}

.custom-logo-text {
    font-family: 'Lobster', cursive; /* Example of a stylish font */
    font-size: 3rem; /* Adjust the size as needed */
    color: #1abc9c; /* Customize the color */
    text-shadow: 2px 2px 4px black; /* Optional: add text shadow */
    font-weight: bold; /* Optional: make the text bold */
    transition: color 0.3s ease; /* Smooth transition effect */
    cursor: pointer; /* Change to pointer to indicate it's clickable */
}

.custom-logo-text:hover {
    color: #16a085; /* Darker green on hover */
}

.custom-menubar {
    background-color:#ffffff;
}