/* imgae paths
"https://static.vecteezy.com/system/resources/previews/008/325/898/non_2x/green-leaf-building-environment-logo-design-free-vector.jpg"
*/


/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    //background-image: url('https://images.ctfassets.net/pg6xj64qk0kh/2r4QaBLvhQFH1mPGljSdR9/39b737d93854060282f6b4a9b9893202/camden-paces-apartments-buckhead-ga-terraces-living-room-with-den_1.jpg'); 
    //background-size: cover; 
    //background-repeat: no-repeat; 
    //background-position: center; 
    //height: 100vh; 
    margin: 0; 
}




  