.background_employee {
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  height: 80vh; /* Full height of the viewport */
  margin : 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.employee-login-container {
  margin-left: 80px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.employee-login-card{
  background-color: linear-gradient(135deg, #424242, #212121);
  height: 400px;
  border-radius: 10px;
}

.p-field {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}