.background_employee {
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  height: 80vh; /* Full height of the viewport */
  margin : 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.employee-login-container {
  margin-left: 80px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.circle {
  position: absolute;
  top: -30px;  /* Move half of the circle above the card */
  left: 50%;
  transform: translateX(-50%); /* Center the circle */
  width: 60px;
  height: 60px;
  background-color:  #87CEFA;  /* Customize circle color */
  border-radius: 50%;  /* Make the div a circle */
  z-index: 1;  /* Ensure the circle is above the card */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.employee-login-card{
  background-color: linear-gradient(135deg, #424242, #212121);
  height: 400px;
  border-radius: 10px;
  padding-top: 40px;
  position: relative;
}

.p-field {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}